@import '../../theme';

.transactions-container {

  .date-header {
    background-color: $panel-background;
    color: $primary;
  }

  .transaction-card {
    background-color: $card-background;

    .account-running-balance { color: $primary; }
  }
}
