@import '../../theme';

.side-nav {
  background-color: $panel-background;
  -webkit-box-shadow: 0 0 20px $shadow-color;
  -moz-box-shadow: 0 0 20px $shadow-color;
  box-shadow: 0 0 20px $shadow-color;

  .categories-accounts-list {
    .mdl-chip {
      background-color: $primary;
      color: white;

      .mdl-chip__action {
        color: white;
      }
    }
  }
}
