@import '../../theme';

.side-nav {
  background-color: $panel-background;

  .categories-accounts-list {
    .mdl-chip {
      background-color: $primary;
      color: white;

      .mdl-chip__action {
        color: white;
      }
    }
  }
}