@import '../../theme';

.side-nav {
  background-color: $panel-background;
  -webkit-box-shadow: 0 0 20px $shadow-color;
  -moz-box-shadow: 0 0 20px $shadow-color;
  box-shadow: 0 0 20px $shadow-color;

  #closeNav {
    color: $warn-light;
  }

  .categories-accounts-list {
    .mdl-chip {
      background-color: $primary;
      color: $light-text;

      .mdl-chip__action {
        color: $light-text;
      }
    }
  }
}
