@import '../../style';

// default to desktop styles
.side-nav {
  height: 100%;
  width: 0; // change width to show/hide
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 16px 0 ;
  transition: 0.25s;

  .accounts-select, .category-select {
    margin: 0 16px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    display: flex;
    align-items: center;
  }

  .selected-accounts-list, .categories-accounts-list {
    width: 100%;
    margin: 0 16px;

    .mdl-chip {
      margin-right: 4px;
    }
  }

  .filter-buttons {
    margin: 0 16px;
    position: absolute;
    bottom: 16px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    flex-direction: row;
    display: flex;
    flex-flow: row;

    button#submitFiltersButton {
      flex-grow: 1;
      margin-left: 8px;
    }

    button#resetFiltersButton {
      flex-grow: 1;
      margin-right: 8px;
    }
  }
}

.open-nav {
  width: 40em;
}

.closed-nav {
  width: 0;
}

// mobile
@media screen and (max-width: $mobile-width-breakpoint) {
  .side-nav {
    padding: 8px 0;
  }

  .open-nav {
    width: calc(100vw - 4em);
  }

  .closed-nav {
    width: 0;
  }
}

// tablet
@media screen and (max-width: $tablet-width-breakpoint) and (min-width: $mobile-width-breakpoint + 1px) {
  .side-nav {
    padding: 8px 0;
  }

  .open-nav {
    width: 30em;
  }

  .closed-nav {
    width: 0;
  }
}