/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0; // change width to show/hide
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.30s;

  .accounts-select, .category-select {
    margin: 0 16px;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
  }

  .selected-accounts-list, .categories-accounts-list {
    width: 100%;
    margin: 0 16px;
  }

  // Position and style the close button (top right corner)
  .closebtn {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 36px;
  }
}

// todo: still have to do responsive layout
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 16px;
  }
}