@import '../../theme';

.mobile-footer {
  background-color: $header-background;
  color: white;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  .total-account-balance {
    color: $primary-light;
  }
}