@import '../../theme';

.mobile-footer {
  background-color: $header-background;
  color: white;
  -webkit-box-shadow: 0 0 20px $shadow-color;
  -moz-box-shadow: 0 0 20px $shadow-color;
  box-shadow: 0 0 20px $shadow-color;

  .total-account-balance {
    color: $primary-light;
  }
}
