@import '../../theme';

.mobile-footer {
  background-color: $header-background;
  color: white;
  -webkit-box-shadow: 0 0 20px rgba(33, 33, 33, 0.8);
  -moz-box-shadow: 0 0 20px rgba(33, 33, 33, 0.8);
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.8);

  .total-account-balance {
    color: $primary-light;
  }
}