@import '../../style';

.mobile-footer {
  width: 100%;
  max-width: $tablet-width-breakpoint;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  min-height: 40px;

  .total-account-balance {
    margin-left: 4px;
  }

  p {
    margin: 0;
    font-size: 24px;

    i {
      font-weight: 300;
    }
  }
}

@media screen and (max-width: $tablet-width-breakpoint) {
  .mobile-footer {
    max-width: 100%;
  }
}