$primary: #2196f3;
$accent: #FF5252;

$card-background: #FAFAFA;
$panel-background: #F5F5F5;
$header-background: white;

$shadow-color: rgba(97, 97, 97, 0.3);

$light-text: white;

::-webkit-scrollbar-thumb {
  background-color: $primary;
}

html {
  background-color: $header-background;
}
