// todo: make a light theme, makes more sense with a banking app
$primary-light: #80CBC4; // teal 200
$primary: #009688; // teal 500

$warn-light: #FF5252; // red A200

$card-background: #FAFAFA; // grey 100
$background: #616161; // grey 700
$panel-background: #424242; // grey 800
$header-background: #212121; // grey 900

$shadow-color: rgba(33, 33, 33, 0.8); // grey 900

::-webkit-scrollbar-thumb {
  background-color: $primary-light;
}

html {
  background-color: $header-background;
}
