@import '../../theme';

.auto-complete-items {
  background-color: $card-background;

  div {
    border-bottom: 1px solid $panel-background;
  }

  .auto-complete-active {
    background-color: $primary !important;
    color: $light-text;
  }
}
