@import '../../theme';

.autocomplete-items {
  background-color: $card-background;

  div {
    border-bottom: 1px solid $header-background;
  }

  div:hover {
    background-color: $primary;
    color: $light-text;
  }

  .autocomplete-active {
    background-color: $primary !important;
    color: $light-text;
  }
}
