@import '../../theme';
.auto-complete-form {
  input {
    font-weight: 300;
    border-color: white; // todo: Figure out the exact MLD css property to replace
  }

  .mdl-textfield {
    label {
      color: white;
    }
  }
}

.autocomplete-items {
  background-color: $card-background;

  div {
    border-bottom: 1px solid $header-background;
  }

  div:hover {
    background-color: $primary;
    color: white;
  }

  .autocomplete-active {
    background-color: $primary !important;
    color: white;
  }
}
