// todo: make this compliant with material design
.auto-complete-form {
  position: relative;
  display: inline-block;
  width: 100%;

  .mdl-textfield {
    width: 100%;
    font-weight: 300;
  }

  input {
    color: white;
  }
}

.autocomplete-items {
  position: absolute;
  border: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;

  div {
    padding: 10px;
    cursor: pointer;
  }
}